*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    overflow: hidden;
    background-color: black;
    color: white;
}
li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
}

li a :hover{
    background-color: white;
    color: black;
}

p{
    color: rgb(255, 255, 255);
}

h1{
    color: rgb(255, 5, 5);
}

h2{
    color: rgb(252, 0, 0);
}

body {
    background-image: url(https://caracoltv.brightspotcdn.com/dims4/default/5d4a3f1/2147483647/strip/true/crop/1200x720+0+0/resize/1000x600!/format/webp/quality/90/?url=http%3A%2F%2Fcaracol-brightspot.s3.us-west-2.amazonaws.com%2Fb8%2Fe5%2Ff322fda44c3ea47bd88f07f90bff%2Fnew-project-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%);
  }
  